[Unit]
Description=Vault Agent for CHIP Vault Certification
After=network.target

[Service]
User=root
WorkingDirectory=/home/ssm-user
ExecStart=/usr/bin/vault agent -config=/home/ssm-user/vault-agent.hcl
Restart=always

[Install]
WantedBy=multi-user.target
